*{
  margin: 0;
  padding: 0;
  box-sizing: none;
}


.filtrar{
  align-self: center;
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
main{
  display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 background-color: #000000;
 background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
 align-content: center;
}

.tipos{
  color: aliceblue;
  margin-right: 10px;
}


.crear{
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 100px;
}
form{
  justify-self: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  padding:300px 0px;
}
label{
  color: aliceblue;
}
fieldset{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 20px;
}

@media screen and (max-width: 1000px){

  fieldset{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  form{
    padding:200px 60px;
  }
  .crear{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      padding: 100px;
  }
 }