*{
  margin: 0;
  padding: 0;
  box-sizing: none;
}

body{
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}
.filtrar{
  align-self: center;
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
main{
  display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-content: center;
 
}

.tipos{
  color: aliceblue;
  margin-right: 10px;
}


.crear{
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
form{
  justify-self: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  justify-self: center;
}
label{
  color: aliceblue;
}
fieldset{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 20px;
}
legend{
  color: aliceblue;
}
@media screen and (max-width: 1000px){

  fieldset{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
 
  .crear{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      
  }
 }